%aside{ role: 'complementary' }
  :md
    ![#{@config[:author_name]}](/images/avatar.png)

    SomeText.

    See [some page](/page.html).

    #### Follow me

    * [Github](https://github.com/*todo_your_id*)
    * [Twitter](http://twitter.com/*_todo_your_id*)
    * [LinkedIn](http://www.linkedin.com/profile/view?id=*_todo_your_id*)
    * [Feed](/feed.xml)
