%aside{ role: 'complementary' }
  :md
    ![#{@config[:author_name]}](/images/avatar.jpg)

    ![work in progress](/images/wip.png)

    The site is operational, but still needs to get its own character.

    #### Follow me

    * [Github](https://github.com/stefanvr)
    * [Twitter](http://twitter.com/svraap)
    * [LinkedIn](http://nl.linkedin.com/in/stefanvr)
    * [Feed](/feed.xml)
