%aside{ role: 'complementary' }
  :md
    ![#{@config[:author_name]}](/images/avatar.jpg)

    #### Follow me

    * [Github](https://github.com/stefanvr)
    * [Twitter](http://twitter.com/svraap)
    * [LinkedIn](http://nl.linkedin.com/in/stefanvr)
    * [Feed](/feed.xml)
